<div class="header-wrapper">
    <div class="header-panes">
        <div class="header-pane header-pane--1"></div>
        <div class="header-pane header-pane--2"></div>
    </div>
    <div class="header-content">
        <div class="header-content-pane header-content-pane--1">
            <div class="headline-block">
                <span>Running dry</span><h1>Cape Town’s struggle to keep the taps on</h1>
            </div>
            <div class="inner">
                <div class="int-copy">
                    <div class="text">
                        <div class="text-inner">This is Theewaterskloof dam, one of the largest freshwater reservoirs in western South Africa. For several decades, it has provided more than half of the water supply for the four million inhabitants of nearby Cape Town</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-content-pane header-content-pane--2">
            <div class="inner">
                <div class="int-copy">
                    <div class="text">
                        <div class="text-inner">But after three years of relentless drought, the reservoir is almost depleted. Unless the city can drastically cut its water use, the taps will run dry in a matter of weeks</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>