<div class="header-wrapper">
  <!--   <div class="header-image"></div> -->
    <div class="left-col">
     <div class="logo-block">
                <div class="winter-olympics-logo"></div>
    </div>
    <!-- <div class="share-block"></div> -->

</div>
<div class="right-col">
    <div class="white-disc"><div class="white-disc-inner"></div></div>
     <div class="header-text">
     <h1><span>Frame by frame</span><br/><span>Spectacular shots</span><br/><span>from Pyeongchang</span></h1>
     <h2>Week one of the Winter Olympics via multi exposure<h2>
 </div>

 </div>
 <div class="share-block">
    <div class="header-share-container">
                <button class="interactive-share" data-network="facebook" data-shareurl="{{shareurl}}"></button>
                <button class="interactive-share" data-network="twitter" data-shareurl="{{shareurl}}"></button>
                <button class="interactive-share" data-network="email" data-shareurl="{{shareurl}}"></button>
    </div>

 </div>
</div>