@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
}

html,
body {
    overflow-x: hidden;
}

header nav {
    z-index: 99999;
}

.article__body {
    padding: 0!important; // fix for whitespace around header in app
    .header-wrapper {
    padding: 0 10px!important;
    }


}

.header-wrapper {
    //width: 100%;
    background-color: #ffe500;
    height: 640px;
    padding: 0;
    position: relative;
    //visibility: hidden;
    @include mq(leftCol) {
            height: 790px;
        }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -100%;
        content: "";
        display: block;
        width: 300%;
        height: 640px;
        background-color: #ffe500; // background-image: url('<%= path %>/assets/imgs/snowboarder.png');
        //     background-repeat: no-repeat;
        //     background-size: 36%;
        //     background-position: center center;
        z-index: -5;
        clear: both;
        @include mq(leftCol) {
            height: 790px;
        }
    }

    &:after {
        position: absolute;
        top: 0;
        left: 60px;
        margin-left: -100%;
        content: "";
        display: block;
        width: 300%;
        height: 640px;
        background-image: url('<%= path %>/assets/imgs/snowboarder.png');
        background-repeat: no-repeat;
        background-size: 850px;
        background-position: 50% 37%;
        z-index: 4;
        clear: both;
         @include mq(leftCol) {
            height: 790px;
             background-size: 32%;
             left: -75px;
            background-position: 50% 33%;
        }
    }

    .left-col {

        position: relative;


        @include mq(leftCol) {
     
        width: 230px;
        float: left;
        }
    }

    .right-col {
        position: relative;
        @include mq(leftCol) {
        width: calc(100% - 230px);
        float: right;
        border-left: 1px solid #121212;
        height: 100%;
        }
    }

    .logo-block {

        .winter-olympics-logo {
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('<%= path %>/assets/imgs/winter-olympics-logo.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0 0;
            width: 130px;
            height: 60px;
            @include mq(leftCol) {
            width: 190px;
            height: 90px;

            }
        }
    }

    .share-block {
        position: absolute;
        width: 220px;
        height: 70px;
        bottom: 44px;

         @include mq(leftCol) {
             bottom: 0;
        }


        .header-share-container {

            margin-left: 0;
            margin-bottom: 15px;
            margin-top: 30px;

            @include mq(leftCol) {

                margin-top: 0;
                margin-bottom: 0;
                padding-top: 20px;
                background-image: repeating-linear-gradient(to bottom, #121212, #121212 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
                background-repeat: repeat-x;
                background-position: top;
                -webkit-background-size: 0.0625rem 0.8125rem;
                background-size: 0.0625rem 0.8125rem;
            }
        }

        .interactive-share {
            height: 32px;
            width: 32px;
            border-radius: 34px;
            display: inline-block;
            border: 1px solid #121212;
            cursor: pointer;
            outline: none;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 32px;
            &[data-network='facebook'] {
                background-image: url("<%= path %>/assets/facebook.svg");
                background-color: #ffe500;
            }
            &[data-network='twitter'] {
                background-image: url("<%= path %>/assets/twitter.svg");
                background-color: #ffe500;
            }
            &[data-network='email'] {
                background-image: url("<%= path %>/assets/mail.svg");
                background-color: #ffe500;
            }
        }

        .interactive-share:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }

    .white-disc {
        position: absolute;
        top: 72px;
        left: 50%;
        width: 230px;
        height: 230px;
        margin-left: -115px;
        z-index: 1;
        overflow: hidden;
         @include mq(leftCol) {
            top: 0;
            left: 60px;
            width: 460px;
            height: 460px;
            margin-left: 0;
        }
        .white-disc-inner {
            position: absolute;
            top: 0;
            left: 0;
            //width: 460px;
            width: 100%;
            //height: 460px;
            padding-bottom: 100%;
            border-radius: 50%;
            background-color: #fff;
            @include mq(leftCol) {
                top: -20px;
            }
        }
    }

    .header-image {
        position: absolute;
        width: 100%;
        padding-bottom: 45%;
        background-image: url('<%= path %>/assets/imgs/snowboarder.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 0;
        z-index: 2;
    }

    .header-text {

        position: absolute;
        left: 0;
        top: 360px;
          @include mq(leftCol) {
                top: 517px;
            }
        

        h1 {
            display: inline-block;
            font-family: 'Guardian Headline', 'Guardian Egyptian Web', Georgia, serif;
            color: #fff;
            margin-left: -10px;
            font-size: 32px;
            line-height: 33px; //margin-bottom: 20px;
            padding: 0; // box-shadow: 10px 0 0 #1896d7, -10px 0 0 #1896d7;
            // box-decoration-break: clone;
            span {
                display: inline-block;
                padding: 0 10px 5px 10px;
                background: #121212;
                &:first-of-type {
                    background: #1896d7;
                }
            }
            @include mq(leftCol) {

                font-size: 50px;
                line-height: 62px;
                margin-left: 0;
            }
        }

        h2 {
            font-family: 'Guardian Headline', 'Guardian Egyptian Web', Georgia, serif;
            font-weight: 300;
            font-size: 18px;
            
            margin-top: 20px;
            line-height: 22px;
             @include mq(leftCol) {
                margin-left: 10px;
                line-height: 24px;
                 font-size: 20px;
            

            }
        }
    } // height: 250vh;
    // @include mq($until: tablet) {
    //     height: 300vh;
    // }
    // width: 100vw;
    // margin-left: calc((-100vw + 100% + 0px)/2);
    // .ios &,
    // .android & {
    //     margin-left: calc((-100vw + 100% + 0px)/2);
    // }
    // @include mq(tablet, desktop) {
    //     margin-left: -97px;
    // }
    // @include mq(desktop, leftCol) {
    //     margin-left: -40px;
    // }
}

// .header-panes {
//     // margin-top: 100px;
//     // position: sticky;
//     position: absolute;
//     top: 0;
//     height: 100vh;
//     width: 100vw;
// }
// .header-content {
//     position: absolute;
//     top: 0;
//     width: 100%;
// }
// .header-pane {
//     height: 100vh;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-size: cover;
//     background-color: #131313;
//     background-position: center center;
//     z-index: 200;
//     background-image: url("https://media.guim.co.uk/1dd225f3e7107407ef3b5e2d2ed2b6e159f49843/72_0_1740_1044/1740.jpg");
//     @include mq($until: tablet) {
//         background-image: url("https://media.guim.co.uk/161021e546450b37d02ab86f44c66d766efc4f71/533_0_597_1046/597.jpg");
//     }
//     &.header-pane--1 {
//         z-index: 20;
//         transition: opacity 2s ease-in-out;
//     }
//     &.header-pane--2 {
//         background-image: url("https://media.guim.co.uk/005e2b058cb3d673c4e2c31ac63032b500144094/72_0_1740_1044/1740.jpg");
//         z-index: 10;
//         @include mq($until: tablet) {
//             background-image: url("https://media.guim.co.uk/d3cba54ca78fe91c98c12bc3fadbfe0d5696e6ce/533_0_597_1046/597.jpg");
//         }
//     }
// }
// .transition {
//     .header-pane--1 {
//         opacity: 0;
//     }
// }
// .header-content-pane {
//     height: 100vh;
//     width: 100vw;
//     position: absolute;
//     top: 0;
//     z-index: 30000;
//     &.header-content-pane--2 {
//         top: 125vh;
//         @include mq($until: tablet) {
//             height: 150vh;
//         }
//     }
//     &.header-content-pane--1 {
//         .int-copy {
//             // transform: translateY(100vh);
//         }
//     }
// }
.content__head,
.content__meta-container {
    display: none;
}

// .headline-block {
//     background-color: #131313;
//     width: 100vw;
//     position: absolute;
//     left: calc((100vw - 1300px)/2 + 240px);
//     padding: 48px 10px 12px;
//     @include mq($until: tablet) {
//         padding-top: 6px;
//     }
//     span {
//         @include fs-header(5);
//         font-weight: 700;
//         font-size: 50px;
//         line-height: 54px;
//         color: #fff;
//         display: block;
//         max-width: 620px;
//         padding-right: 20px;
//             display: block;
//             color: #1896D7;
//         @include mq($until: tablet) {
//             font-size: 32px;
//             line-height: 36px;
//         }
//     }
//     h1 {
//         @include fs-header(5);
//         font-weight: 700;
//         font-size: 50px;
//         line-height: 54px;
//         color: #fff;
//         display: block;
//         max-width: 620px;
//         padding-right: 20px;
//         span {
//             display: block;
//             color: #1896D7;
//         }
//         @include mq($until: tablet) {
//             font-size: 32px;
//             line-height: 36px;
//         }
//     }
//     left: 0;
//     @include mq(tablet) {
//         left: calc((100vw - 700px)/2 + 0px);
//     }
//     @include mq(desktop) {
//         left: calc((100vw - 940px)/2 + 0px);
//     }
//     @include mq(leftCol) {
//         left: calc((100vw - 1140px)/2 + 160px);
//     }
//     @include mq(wide) {
//         left: calc((100vw - 1300px)/2 + 240px);
//     }
// }
// .inner {
//     margin: auto;
//     @include mq(tablet) {
//         width: 740px;
//     }
//     @include mq(desktop) {
//         width: 980px;
//     }
//     @include mq(leftCol) {
//         width: 1140px;
//     }
//     @include mq(wide) {
//         width: 1300px;
//     }
// }
// .int-copy {
//     max-width: 620px;
//     margin-right: 40px;
//     font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
//     font-weight: 600;
//     transform: translateY(-75%);
//     margin-left: 10px;
//     font-size: 16px;
//     line-height: 22px;
//     margin-top: calc(100vh - 20px - 24px) !important;
//     @include mq(tablet) {
//         transform: translateY(-25%);
//         margin-left: 20px;
//         font-size: 24px;
//         line-height: 28px;
//     }
//     @include mq(leftCol) {
//         margin-left: 160px;
//         margin-top: calc(100vh - 20px - 200px) !important;
//     }
//     @include mq(wide) {
//         margin-left: 240px;
//     }
// .text {
//     position: relative;
//     &::before {
//         content: '';
//         display: block;
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 5px;
//         left: 5px;
//         background-color: #ed6300;
//     }
// }
// .text-inner {
//     background-color: #fff;
//     color: #000;
//     padding: 6px 10px 12px 10px;
//     position: relative;
//     z-index: 10;
//     border: 2px solid #000;
//     box-sizing: border-box;
// }
//     .text-inner {
//         display: inline;
//         background-color: #131313;
//         color: #fff;
//         padding: 5px 5px 5px 5px;
//         box-decoration-break: clone;
//         -webkit-box-decoration-break: clone;
//         line-height: 31px;
//         @include mq(tablet) {
//             line-height: 41px;
//         }
//         &::before {
//             content: '';
//             display: inline-block;
//             width: 3px;
//             height: 31px;
//             background-color: #1896D7;
//             transform: translate(-4px, 8px);
//             @include mq(tablet) {
//                 width: 4px;
//                 height: 40px;
//                 margin-right: 5px;
//                 transform: translate(-4px, 11px);
//             }
//         }
//     }
// }
//page hacks
.l-side-margins:after,
.l-side-margins:before {
    background-color: transparent !important;
}

.content__main-column.content__main-column--interactive::before {
    @include mq(leftCol) {
        content: '';
        border-left: 1px solid #dcdcdc;
        position: absolute;
        left: 150px;
        height: 100%;
    }
    @include mq(wide) {
        left: 230px;
    }
}

.content--interactive:not(.paid-content) .element-interactive {
    background-color: transparent !important;
}

.content__main-column--interactive p:nth-of-type(2):first-letter {
    font-size: 114px;
    line-height: 90px;
    margin-right: 10px;
    font-family: "Guardian Headline", "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
    font-weight: 900;
    float: left;
    color: #1896D7;
}

.content__main-column--interactive p:first-of-type {
    margin-bottom: 12px;
    @include mq(leftCol) {
        border-bottom: 1px solid #dcdcdc;
        margin-left: 150px !important;
        margin-bottom: 36px;
    }
    @include mq(wide) {
        margin-left: 230px !important;
    }
    padding-left: 10px;
    padding-bottom: 6px;
}

#article .content__main-column--interactive .element--immersive.element-atom {
    margin-bottom: 12px !important;
}

.ios,
.android {
    .element-atom {
        position: relative !important;
    }
    .article__header {
        display: none !important;
    } // .article--standard .article__body {
    //     padding: 0 !important;
    // }
}

.content__main-column {
    a,
    .u-fauxlink {
        color: #1896D7 !important;
    }
}